@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

.all{
    max-width: 1350px;
    margin: auto;
}

.page{
    min-height: 180px;
    margin: 0 auto;
    color: white;
    background-image: linear-gradient(to top, rgba(0, 255, 213), rgba(162, 0, 255));
}

.logo{
    float: left;
    margin-top: 15px;
    margin-left: 25px;
}

.head{
    top:0; 
    left: 0; 
    right:0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 35px 5%;
}
.head li{
    transition: all 1s ease 0s;
    list-style: none;
    display: inline-block;
    font-size: 12pt;
    width: 100px;
    text-align: center;
    cursor: pointer;
}    
.head li:hover{
    background-color: rgba(0, 255, 213);
}    
.head li ul{
    position: absolute;
    padding-left: 0;
    width: 100px;
    display: none;
    background-color: rgba(162, 0, 255);
}    
.head li:hover ul{
    display: block;
}    
.head a{
    display: block;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 8px 0;
}    
.head li ul li{
    margin-top: 6px;
}

.conection{
    min-height: 500px;
    margin: 0px auto;
}
.block1{
    max-width: 600px;
    min-height: 400px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin-top: 3%;
    background: linear-gradient(to top, rgba(0, 255, 213, 0.6), rgba(162, 0, 255, 0.5));
    border-radius: 35px 0px;
}
.inputBox{
    width: 100%;
    float: left;
    padding: 5px 45px 5px;
}
.inputBox input{
    width: 100%;
    min-height: 20px;
}
.btn{
    cursor: pointer;
    font-size: 12pt;
    color: black;
    width: 100px;
    background-color: white;
    position: absolute; 
    left: 50%;
    transform: translateX(-50%);
}
.form-check{
    padding: 5px;
}
