*{
    margin: 0;
    padding: 0;
}

.all{
    max-width: 1350px;
    margin: auto;
}

#topNubex{
	position: fixed;
	right: 35px;
	bottom: 35px;
}

.page{
    min-height: 650px;
    margin: 0 auto;
    color: white;
    background-image: linear-gradient(to top, rgba(0, 255, 213, 0.6), rgba(162, 0, 255, 0.3)), url(https://wallbox.ru/resize/1920x1200/wallpapers/main2/201727/gory-alpy-na-prirode-franci-noc-zvezd.jpg);
}

.logo{
    float: left;
    margin-top: 15px;
    margin-left: 25px;
}

.head{
    top:0; 
    left: 0; 
    right:0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 35px 5%;
}
.head li{
    transition: all 1s ease 0s;
    list-style: none;
    display: inline-block;
    font-size: 12pt;
    width: 100px;
    text-align: center;
    margin-left: 5px;
    cursor: pointer;
}    
.head li:hover{
    background-color: rgba(0, 255, 213, 0.4);
}    
.head li ul{
    position: absolute;
    padding-left: 0;
    width: 100px;
    display: none;
}    
.head li:hover ul{
    display: block;
}    
.head a{
    display: block;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 8px 0;
}    
.head li ul li{
    margin-top: 6px;
}

.name{
    position: absolute;
    margin-top: 10%;
    margin-left: 35%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.name2{
    font-size: 20pt;
    text-align: center;
}
svg{
    font-weight: bold;
    max-width: 600px;
    height: auto;
}

.us{
    min-height: 650px;
    margin: 0 auto;
}
.text{
    width: 500px;
    float: right;
    text-align: center;
    margin-top: 15%;
    margin-right: 50px;
    font-size: 14pt;
}
.art{
    object-fit: cover;
    max-height: 450px;
    max-width: 650px;
    margin-top: 75px;
    margin-left: 50px;
}

.serv{
    min-height: 1600px;
    margin: 0 auto;
    outline: 10px solid rgba(0, 255, 213);
}
.text1{
    height: 100px;
    text-align: center;
    font-size: 14pt;
    padding: 30px;
}
.block,.block1,.block2{
    padding-top: 100px;
    min-height: 450px;
    margin: 0 auto;
}
.text2, .text4{
    min-height: 200px;
    width: 500px;
    float: right;
    text-align: center; 
    margin-right: 5%;
    margin-top: 10%;
    font-size: 14pt;
    border: 10px solid rgba(162, 0, 255, 0.5);
}
.text3{
    min-height: 200px;
    width: 500px;
    float: left;
    text-align: center;
    margin-left: 5%;
    margin-top: 10%;
    font-size: 14pt;
    border: 10px solid rgba(162, 0, 255, 0.5);
}
.art1, .art3{
    height: 400px;
    width: 550px;
    object-fit: cover;
    margin-left: 5%;
}
.art2{
    object-fit: cover;
    height: 400px;
    width: 550px;
    float: right;
    margin-right: 5%;
}

.help{
    height: 450px;
    margin: 0 auto;
}
.block3{
    height: 450px;
    margin: 0 auto;
    float: left;
    margin-top: 8%;
    margin-left: 35%;
}
.form{
    float: left;
    font-size: 12pt;
    text-transform: uppercase;
    cursor: pointer;
}
.form input[type=text1], .form input[type=text2], .form textarea{
    float: left;
    padding: 8px 5px;
    margin-bottom: 10px;
    font-size: 12pt;  
    font-family: 'Ubuntu', 'Lato', sans-serif;
}
.form input[type=submit], .form input[type=reset]{
    padding: 8px 5px;
    cursor: pointer;
    font-family: 'Ubuntu', 'Lato', sans-serif;
    font-weight: 700;
    font-size: 12pt;
}

.contact{
    height: 450px;
    margin: 0 auto;
    background-color: rgb(36, 36, 36);
}
.block4{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20pt;
    text-align: center;
    margin-top: 80px;
    color: rgb(255, 255, 255);
}
.block4 li{
    list-style-type: none;
}

.social{
    height: 100px;
    margin: 0px auto;
}
.icons{
    position: absolute;
    left: 50%;
    margin-left: 5px;
    transform: translateX(-50%);
    margin: 0 auto;
    margin-top: 300px;
}