@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

$blue:      rgba(0, 255, 213, 0.3);
$violet:    rgba(162, 0, 255, 0.6);
$bl:        rgb(0, 255, 213);
$vio:       rgb(162, 0, 255);
$gray:      #333;

*{
    margin: 0;
    padding: 0;
}

.all{
    max-width: 1350px;
    margin: auto;
}

#topNubex{
	position: fixed;
	right: 5%;
	bottom: 35px;
}

.page{
    min-height: 650px;
    margin: 0 auto;
    color: white;
    background-image: linear-gradient(to top, $blue, $violet), url(https://lookw.ru/9/945/1566941301-oboi-008.jpg);
}

.logo{
    float: left;
    margin-top: 15px;
    margin-left: 25px;
}

.head{
    top:0; 
    left: 0; 
    right:0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 35px 5%;
}
.head li{
    transition: all 1s ease 0s;
    list-style: none;
    display: inline-block;
    font-size: 12pt;
    width: 100px;
    text-align: center;
    cursor: pointer;
}    
.head li:hover{
    background-color: $bl;
}    
.head li ul{
    position: absolute;
    padding-left: 0;
    width: 100px;
    display: none;
    background-color: $vio;
}    
.head li:hover ul{
    display: block;
}    
.head a{
    display: block;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 8px 0;
}    
.head li ul li{
    margin-top: 6px;
}

.phone{
    font-size: 14pt;
}

.name{
    height: 85px;
    position: absolute;
    margin-top: 10%;
    left: 50%;
    transform: translate(-50%);
    font-size: 40pt;
    text-align: center;
    padding: 9px;
    color: white;
    
}

.box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}
.box{
    overflow: hidden;
    box-shadow: 0 16px 32px rgba(0,0,0,.1);
    border: 16px solid #fff;
    border-radius: 8px;
    flex: 1 1 480px;
    height: 400px;
    position: relative;
}
.box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.content{
    position: absolute;
    top: -100%; 
    left:0;
    height: 100%;
    width: 100%;
    text-align: center;
    background:rgba(0,0,0,.7);
    padding: 2px;
    padding-top: 80px;
}
.box:hover .content{
    top:0;
}
.content h3{
    margin-top: 50px;
    font-size: 20pt;
    color: $bl;
}
.btn{
    display: inline-block;
    margin-top: 16px;
    background: $vio;
    color: #fff;
    padding: 12px 48px;
    border: 3px solid $vio;
    cursor: pointer;
    font-size: 20pt;
}
.btn:hover{
    background: $blue;
    color: $bl;
}

.modal-body img{
    border: 5px solid white;
}

.contact{
    height: 450px;
    margin: 0 auto;
    background-color: $gray;
}
.block4{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20pt;
    text-align: center;
    margin-top: 80px;
    color: rgb(255, 255, 255);
}
.block4 li{
    list-style-type: none;
}

.social{
    height: 100px;
    margin: 0px auto;
}
.icons{
    position: absolute;
    left: 50%;
    margin-left: 5px;
    transform: translateX(-50%);
    margin: 0 auto;
    margin-top: 300px;
}